<%- include("partials/header")%>
<div
  class="main d-flex align-items-center justify-content-center text-capitalize"
>
  <div>
    <div class="text-center py-3 title">
      <span class="welcome">welcome</span> to toy trader
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn mx-2 btnOne" href="/postT">post toy</a>
      <a class="btn mx-2 btnTwo" href="/browseT">browse toy</a>
    </div>
  </div>
</div>
<div class="changeBcg">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<%- include("partials/footer")%>
